.descriptionbox{
    margin: 80px 130px;
}
.description-navigator{
    display: flex;
}
.description-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    width: 150px;
    height: 40px;
    border: 1px solid #D0D0D0;
}
.description-nav-box.fade{
    background: #FBFBFB;
    color: #555;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #D0D0D0;
    padding: 40px;
    padding-bottom: 30px;
}



@media(max-width:1280px){
    .descriptionbox{
        margin: 60px;
    }
}
@media(max-width:800px){
    .descriptionbox{
        margin: 60px 20px;
    }
    .descriptionbox-description{
        font-size: 14px;
    }
}