.newsletter{
    width: 57%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 120px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    gap: 30px;

}
.newsletter h1{
    color: #454545;
    font-size: 50px;
    font-weight: 500;
}
.newsletter p{
    color: #454545;
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 60px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: 'Poppins';
    font-size: 16px;
}
.newsletter div button{
    width: 210px;
    height: 60px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}



@media(max-width:1280px){
    .newsletter{
        padding: 0px 80px;
        margin-bottom: 120px;
        gap: 20px;
    }
    .newsletter h1{
        font-size: 36px;
    }
    .newsletter p{
        font-size: 16px;
    }
    .newsletter div{
        width: 600px;
        height: 80px;
    }
    .newsletter div input{
        width: 500px;
    }
    .newsletter div button{
        width: 190px;
        height: 80px;
    }
}
@media(max-width:1024px){
    .newsletter{
        margin-bottom: 100px;
        height: 50vh;
    }
    .newsletter h1{
        font-size: 30px;
    }
    .newsletter p{
        font-size: 14px;
    }
    .newsletter div{
        width: 500px;
        height: 50px;
    }
    .newsletter div input{
        width: 300px;
        font-size: 14px;
    }
    .newsletter div button{
        width: 160px;
        height: 52px;
        border: none;
        font-size: 14px;
    }
}
@media(max-width:800px){
    .newsletter{
        margin-bottom: 40px;
    }
    .newsletter h1{
        font-size: 25px;
    }
    .newsletter p{
        font-size: 13px;
    }
    .newsletter div{
        width: 400px;
        height: 40px;
    }
    .newsletter div input{
        width: 280px;
        font-size: 12px;
    }
    .newsletter div button{
        width: 120px;
        height: 40px;
        border: none;
        font-size: 13px;
    }
}
@media(max-width:500px){
    .newsletter{
        margin-bottom: 30px;
        height: 30vh;
        /* width: 100%; */
    }
    .newsletter h1{
        font-size: 18px;
    }
    .newsletter p{
        font-size: 10px;
    }
    .newsletter div{
        width: 300px;
        height: 30px;
    }
    .newsletter div input{
        width: 200px;
        font-size: 14px;
    }
    .newsletter div button{
        width: 100px;
        height: 32px;
        border: none;
        font-size: 12px;
    }
}